 <div class="formFooter__section">
    <% if user_signed_in? %>
    <div >
    <%= link_to 'Account', "http://localhost:3000/users/#{current_user.id}", method: :get, class: "formFooter__item button " %>
  </div>
  <div>
   <%= link_to 'logout', destroy_user_session_path, method: :delete, class: "formFooter__item button" %>
 </div>
  <% else %>
    <div>
   <%= link_to 'sign up', new_user_registration_path, method: :get, class: "formFooter__item button " %>
 </div>
   <div>
   <%= link_to 'sign in', new_user_session_path, method: :get, class: "formFooter__item button " %>
 </div>
  <% end %>

    </div>
    <div class="formFooter__item button">
    </div>


<aside class="sub">
<section class="lfe-menu">
  <ul class="side-menu">
    <li>Mypage
    </li>
    <li>Purchase history
    </li>
    <li><a href="/items">Your items</a>
    </li>
    <li>Your review
    </li>
  </ul>
</section>
</aside>

<div class="grid">
<h1>Profile information</h1>

<%= form_tag("/users/#{current_user.id}", method: :patch) do %>

<div class="field">
  <input type="file" name="image">

</div>

<div class="field">
  <textarea name="profile"><%= current_user.profile %></textarea>
</div>

<div class="form-group">
  <input type="submit" value="Save">
</div>
<% end %>
</div>
