<div class="mypage_container">
  <div class="mypage_content">
    <section class="mypage_user_icon">
      <a href="/users/<%= current_user.id %>">
         <%= image_tag current_user.avatar, class:"user_icon", class:"user_icon" %>
        <h4 class="mypage_nickname"><%= current_user.nickname %></h4>
      </a>
    </section>
<div class="mypage_profile">
  <ul>
    <li id="left" class="selected">Profile</li>
    <li id="right">User information</li>
  </ul>

  <div class="form-group">
      <%= form_tag("/users/#{current_user.id}", method: :patch) do %>
  <div class="contents">
    <div class="left">
  <div class="field">
    <p>Profile</p><br>
    <textarea rows="4" cols="30" class="input-text text">
      <% if current_user.profile.nil? %>
      My name is <%= current_user.nickname %>.<br>
      I live in Japan and hope you like my items!
      <% else %>
      <%= current_user.profile %>

       <% end %>
      </textarea>
  </div>
</div>
      <div class="right">


      </div>

  <input type="submit" value="Save" class="save_button">


</div>
<% end %>

</div>


</div>

<div class="side_menu">

  <nav class="mypage_nav">
    <ul class="mypage_nav_list">
      <li>
        <a href="<%= user_path %>"" class=" nav_list">Mypage <i class="arrow icon-arrow-right"></i></a>
      </li>
      <li>
        <a href="<%= items_path %>"" class=" nav_list">Listing items <i class="arrow icon-arrow-right"></i></a>
      </li>
      <li>
        <a href="<%= new_item_path %>"" class=" nav_list">Sell your item <i class="arrow icon-arrow-right"></i></a>

      </li>
      <li>
        <a href="<%= logout_users_path %>"" class=" nav_list">Log out <i class="arrow icon-arrow-right"></i></a>

      </li>
    </ul>
  </nav>

</div>


</div>
</div>



