<div class="mypage_container">
  <div class="mypage_content">
    <section class="mypage_user_icon">
        <% if @user.avatar.present? %>
         <%= image_tag @user.avatar, class:"user_icon" %>
        <% else %>
          <%= image_tag @user.image, class:"user_icon" %>
        <% end %>
        <h4 class="mypage_nickname"><%= @user.name %></h4>
    </section>


<!-- タブの切り替えここから-->

<div class="mypage_profile">

  <ul class="js-tab">
      <li id="left" class="sky selected">Profile</li>
    <li id="right" class="sunset">User information</li>

  </ul>

<!-- /.js-tab -->

<div class="js-tab_content left selected">
<div class="form-group" >
    <p>Profile</p><br>

    <% if current_user.present? %>
    <% if current_user.id== @user.id %>
    <%= form_tag(profile_update_users_path, method: :get) do %>

  <div class="field">

    <textarea rows="4" cols="30" name="profile" class="input-text text">
      <% if current_user.profile.nil? %>
      My name is <%= current_user.name %>.
      I live in Japan and hope you like my items!
      <% else %>
      <%= current_user.profile %>
       <% end %>
      </textarea>
</div>
      <br><br>

       <input type="submit" value="Save" class="save_button">

      <% end %>
  </div>

</div><!-- /.js-tab_content -->

<div class="js-tab_content right ">
  <div class="form-group">
    <p>User information</p><br>

      <%= form_for @user do |f| %>
       <div class="field">
    <%= f.label :"User image" %><br><br>
    <%= f.file_field :avatar %>
</div>

  <div class="field">
    <%= f.label :"nickname" %><br><br>
    <%= f.text_field :name, placeholder: "#{ current_user.nickname }",autofocus: true, class:"input-text" %>
  </div>

  <div class="field">
    <%= f.label :"email" %><br><br>
    <%= f.email_field :email, placeholder:"#{current_user.email }", autofocus: true, class:"input-text" %>
  </div>

  <div class="field">
    <%= f.label :"address" %><br><br>
    <%= f.text_area :address, placeholder: "6 Chome-11-1 Roppongi ", autofocus: true, size: "",class:"input-text" %>
  </div>

    <%= f.submit "Save", class:"save_button" %>
      <% end %>
</div>

</div>
<% end %>
<% end %>


<!-- /.js-tab_content -->
</div>


</div>
<!-- タブの切り替えここまで -->


<div class="side_menu">

  <nav class="mypage_nav">
    <ul class="mypage_nav_list">
      <li>
        <a href="<%= user_path %>"" class=" nav_list">Mypage <i class="arrow icon-arrow-right"></i></a>
      </li>
      <li>
        <a href="<%= items_path %>"" class=" nav_list">Listing items <i class="arrow icon-arrow-right"></i></a>
      </li>
      <li>
        <a href="<%= new_item_path %>"" class=" nav_list">Sell your item <i class="arrow icon-arrow-right"></i></a>

      </li>
      <li>
        <a href="<%= logout_users_path %>"" class=" nav_list">Log out <i class="arrow icon-arrow-right"></i></a>

      </li>
    </ul>
  </nav>
</div>


</div>
</div>



