<div class="login_panel">
<div class="login_no_account">
  <h3>If you are new user</h3><br>
  <%= link_to "Sign up", new_user_registration_path, method: :get, class:"user_page_button" %>
</div>
<div class="form-group">
  <h2> Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, placeholder: 'email', autofocus: true, class:"input-text" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: 'password', autocomplete: "off", class:"input-text" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class:"login_button" %>
  </div>
<% end %>

<%= link_to "Facebookで会員登録", user_facebook_omniauth_authorize_path %>


</div>

<%= render "devise/shared/links" %>
</div>
