<div class="login_panel">
<div class="login_no_account">

<h2 class="upload">Please put item information</h2>

</div>

<div class="form-group">

<%= form_for @items do |f| %>

<div class="field">
  <%= f.label :"Item's image" %><br><br>
  <%= f.file_field :image %>
</div>

<div class="field">
  <%= f.label :"Item's name" %><br><br>
  <%= f.text_field :title, placeholder:"Item's name", class:"input-text" %>
</div>

<div class="field">
  <%= f.label :"Item's description" %><br><br>
  <%= f.text_area :description, size: "30x5", class:"input-text" %>
</div>

<div class="field">
  <form method="get">
<textarea id="tagme" name="tags"></textarea>

</form>
</div>

<div class="field">
  <%= f.label :price %><br><br>
  <%= f.number_field :price, placeholder: "ex.¥100", class:"input-text" %>
</div>

<div class="field">
  <%= f.label :stock %><br><br>
  <%= f.number_field :stock, placeholder: "ex.3", class:"input-text" %>
</div>
<div class="field">
  <%= f.submit "Sell your item", class:"sell_button" %>
</div>

<% end %>
</div>

</div>
