<div class="item_box_container">
    <h2 class="item_name"> <%= @item.title %> </h2>
    <div class="item_image">
        <%= image_tag @item.image %>
    </div>

    <table class="item_detail">
      <tbody>
        <tr>
          <th>
            Shopper
          </th>
          <td>
            <%= @item.user_id %>
          </td>
        </tr>
        <tr>
          <th>
            item's detail
          </th>
          <td>
            <%= @item.description %>
          </td>
        </tr>
        <tr>
          <th>
          </th>
          <td>
          </td>
        </tr>
        <tr>
          <th>
          </th>
          <td>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="item_price_box">
      <span class="item_price_word">
        ¥ <%= @item.price %>
      </span>
    </div>
    <div class="item_edit_button">
    <% if @item.user_id == current_user.id %>
<%= link_to "Edit", edit_item_path, method: :get, class:"edit_button" %>
<% else %>
<% end %>
</div>

</div>

<div class="form">
<%= form_tag('/comments', method: :post) do %>
  <div class="field">
    <textarea name="content"></textarea>
  </div>
  <%= hidden_field_tag(:item_id, @item.id) %>
  <div class="field">
    <input type="submit" value="Leave comment">
  </div>
<% end %>

<div class="comment">
  <% @comments.each do |comment| %>
  <% if comment.item_id== @item.id %>
  <ul>
    <li>
      <%= comment.user.nickname %>
    </li>
    <li>
      <%= comment.content %>
    </li>

  </ul>
  <% end %>
<% end %>
</div>
</div>


