<div class="item_box_container">
    <h2 class="item_name"> <%= @item.title %> </h2>
    <div class="item_image">
        <%= image_tag @item.image_url(:thumb) %>
    </div>

    <table class="item_detail">
      <tbody>
        <tr>
          <th>
            Shopper
          </th>
          <td>
            <a href="/users/<%= @item.user_id %>">
            <%= @item.user.name %>
          </a>
          </td>
        </tr>
        <tr>
          <th>
            item's detail
          </th>
          <td>
            <%= @item.description %>
          </td>
        </tr>
        <tr>
          <th>
            stock
          </th>
          <td>
            <%= @item.stock %>
          </td>
        </tr>

      </tbody>
    </table>

    <div class="item_price_box">
      <span class="item_price_word">
        ¥ <%= @item.price %>
      </span>
    </div>
    <div class="item_edit_button">
     <% if current_user.present? %>
    <% if @item.user_id == current_user.id %>
<%= link_to "Edit", edit_item_path, method: :get, class:"edit_button" %><br><br><br>
<%= link_to "Delete Item", "/items/#{ @item.id }", method: :delete, class:"delete_button" %>
<% end %>

<% else %>
  <%= link_to "Purchase", purchase_items_path, method: :get, class:"save_button" %>
<% end %>
</div>

</div>

<div class="item_comment">
</div>

<div class="form-group">
  <h2>Comments</h2>
<%= form_tag('/comments', method: :post) do %>
  <div class="field">
    <textarea name="content" class="input-text" cols="30" rows="5"></textarea>
  </div>
  <%= hidden_field_tag(:item_id, @item.id) %>
  <div class="field">

    <% if signed_in? %>
    <input type="submit" value="Leave Comment" class="sell_button">
    <% else %>
    <a href="<%= new_user_session_path %>" class="sell_button">Leave Comment</a>
    <% end %>
  </div>
<% end %>
<div class="item_comment">
</div>
    <h2> All comments</h2>
    <table class="item_comments">
      <tbody>
      <% @comments.each do |comment| %>
    <% if comment.item_id== @item.id %>
    <tr>
      <th>
    <%= image_tag comment.user.image, class:"item_comments_image" %>
  </th>
  <td>
        <div class="item_comments_name">
        <%= link_to "#{ comment.user.name }", "/users/#{comment.user.id}", method: :get, class:"comments_profile" %>
        <% if @item.user_id==comment.user.id %>
        (Shopper)
        <% end %>
      </div>
      <div class="item_comments_content">
        <span><%= comment.content %></span>
      </div>
      </td>
    </tr>
<% end %>
    <% end %>
</tbody>
</table>
</div>

