    <div class="header_image">
      <h1>Best Marketplace to Find Anime Goods </h1>

    </div>
    <div class="main_page_service">
      <div class="explanation_button">
    <%= link_to "Let's Explore Items", new_user_session_path, class:"request_button" %>
    </div>
    <div class="explanation_wrapper">
      </div>
      <h1>What is Otacart?</h1>

      <div class="explanation">
        <p class="explanation_header">
      1.Buy from Japan
    </p>
      <%= image_tag "top_buy.png", class: "top_image" %><br>
      <p class="explanation_text">
      Do you need special anime goods? <br>
      Personal shoppers sell special Japanese anime goods from Japan.
    </p>

    </div>
     <div class="explanation_wrapper">
      </div>
      <div class="explanation">
      <p class="explanation_header">
      2.Sell from Japan
    </p>
      <%= image_tag "top_sell.png", class:"top_image" %><br>
      <p class="explanation_text">
      Do you live in Japan? <br>
      Then let's sell anime goods available only in Japan.
    </p>
    </div>
     <div class="explanation_wrapper">
      </div>
    <div class="explanation">
    <p class="explanation_header">
      3.Request to Japan
    </p>
      <%= image_tag "top_request.png", class:"top_image" %>
    <br>
    <p class="explanation_text">
      You can't find anime goods? Then please request your items on facebook page!
    </p>
    <div class="explanation_button">
    <%= link_to "Let's Get Started", new_user_session_path, class:"request_button" %>
    </div>

    </div>


</div>
  <h1 class="index">Pick up items</h1>

  <%= render partial: "index" %>

</div>

