<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Otakari</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="siteHeader">
  <!-- This section gets pushed to the left side-->
  <div class="siteHeader__section">
    <div class="siteHeader__item siteHeaderLogo">
      <div class="fa fa-inbox"><%= link_to "Home", root_path, method: :get, class:"formFooter__item button" %></div>
    </div>

  </div>
  <!-- This section gets pushed to the right side-->
  <div class="siteHeader__section">
    <div class="siteHeader__item siteHeaderButton">
      <% if user_signed_in? %>
      <%= link_to "Mypage", "/users/#{current_user.id}", method: :get, class: "button" %>
      <% else %>
      <%= link_to "Sign Up", new_user_registration_path, method: :get, class:"button" %>
      <%= link_to "Log in", new_user_session_path, method: :get, class: "button" %>
      <% end %>
    </div>

  </div>
</div>


  </div>
</div>



  </header>
<%= yield %>
  <footer>
    <div class="footer">
      Copyright @Ryounosuke.Takeuchi
    </div>
  </footer>



</body>
</html>
