<!DOCTYPE html>
<html>
<head>
  <title>Otakari</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= link_to '新規登録', new_user_registration_path, method: :get %>
  <%= link_to 'ログイン', new_user_session_path, method: :get %>
  </header>

<%= yield %>

</body>
</html>
