<!DOCTYPE html>
<html>
<head>
  <title>Otakari</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= link_to "Home", root_path, method: :get, class: "css3button" %>

  <% if user_signed_in? %>
    <%= link_to 'Account', "http://localhost:3000/users/#{current_user.id}", method: :get %>
   <%= link_to 'logout', destroy_user_session_path, method: :delete %>
  <% else %>
   <%= link_to 'sign up', new_user_registration_path, method: :get %>
   <%= link_to 'sign in', new_user_session_path, method: :get %>
  <% end %>
  </header>
<div class="contents">
<%= yield %>
</div>
  <footer>
    <div class="footer">
      Copyright @Ryounosuke.Takeuchi
    </div>
  </footer>



</body>
</html>
